<section class="about">
	<div class="container-fluid">
		<div class="about__benefits benefits">
			<div class="benefits__container container-fluid">
				<div class="benefits__info">
					<h2 class="benefits__title section-title section-title--blue">
						Немного о нас
					</h2>
					<p class="benefits__descr">
						ООО "Эльбрусская прохлада"- отптовые продажи безалкогольных напитков
						от производителя.Широкий ассортимент лимонадов,минеральной
						воды,разных сементов.Артезианская питьевая вода,добывается из
						скважины глубиной 230 м. Автоматизированная система розлива
						исключает любые загрязнения в процессе производства, а отсутствие
						поблизости крупных предприятий и сельхозугодий гарантирует чистоту
						добываемой воды.
					</p>
				</div>
				<div class="benefits__content">
					<div class="benefits__controls">
						<div class="benefits__fraction">2/4</div>
						<div class="benefits__progress">
							<div class="benefits__progress-fill"></div>
						</div>
						<div class="benefits__arrows">
							<div class="benefits__arrow benefits__arrow--prev">
								<svg>
									<use xlink:href="img/sprite.svg#arrow-prev"></use>
								</svg>
							</div>
							<div class="benefits__arrow benefits__arrow--next">
								<svg>
									<use xlink:href="img/sprite.svg#arrow-next"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="benefits__slider swiper">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="benefits__item">
									<svg class="benefits__item-icon">
										<use xlink:href="img/sprite.svg#discount"></use>
									</svg>
									<p class="benefits__item-descr">
										Индивидуальные скидки в зависимости от объема покупки
									</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<svg class="benefits__item-icon">
										<use xlink:href="img/sprite.svg#discount"></use>
									</svg>
									<p class="benefits__item-descr">
										Индивидуальные скидки в зависимости от объема покупки
									</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<svg class="benefits__item-icon">
										<use xlink:href="img/sprite.svg#discount"></use>
									</svg>
									<p class="benefits__item-descr">
										Индивидуальные скидки в зависимости от объема покупки
									</p>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="benefits__item">
									<svg class="benefits__item-icon">
										<use xlink:href="img/sprite.svg#discount"></use>
									</svg>
									<p class="benefits__item-descr">
										Индивидуальные скидки в зависимости от объема покупки
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="about__price price">
			<div class="price__column price__column--blue">
				<div class="price__info">
					<h2 class="price__title section-title section-title--white">
						Получить оптовый прайс
					</h2>
					<p class="price__descr">Оставьте заявку и получите прайс на почту</p>
				</div>
				<picture>
					<source srcset="@img/price-bg.webp" type="image/webp" />
					<img
						class="price__column-bg"
						src="@img/price-bg.png"
						loading="lazy"
						alt="Прайс"
					/>
				</picture>
			</div>
			<div class="price__column price__column--form">
				<form class="price__form form form--price" action="#">
					<label class="form__label">
						<input
							class="form__input input-reset input-name"
							type="text"
							name="name"
							placeholder="Имя"
						/>
					</label>
					<label class="form__label">
						<input
							class="form__input input-reset input-email"
							type="email"
							name="email"
							placeholder="Эл. почта"
						/>
					</label>
					<button class="form__btn btn-reset btn btn--blue">Отправить</button>
				</form>
			</div>
		</div>
	</div>
</section>
