<section class="hero">
	<div class="hero__container container">
		<h1 class="hero__title">
			Оптовые поставки минеральной воды и безалкогольных напитков
		</h1>
		<div class="hero__content">
			<div class="hero__grass hero__grass--01">
				<picture>
					<source srcset="@img/grass-01.webp" type="image/webp" />
					<img src="@img/grass-01.png" loading="lazy" alt="Травка" />
				</picture>
			</div>
			<div class="hero__grass hero__grass--02">
				<picture>
					<source srcset="@img/grass-02.webp" type="image/webp" />
					<img src="@img/grass-02.png" loading="lazy" alt="Травка" />
				</picture>
			</div>
			<div class="hero__grass hero__grass--03">
				<picture>
					<source srcset="@img/grass-03.webp" type="image/webp" />
					<img src="@img/grass-03.png" loading="lazy" alt="Травка" />
				</picture>
			</div>
			<div class="hero__slider swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="hero__item">
							<picture>
								<source srcset="@img/tarragon.webp" type="image/webp" />
								<img src="@img/tarragon.png" loading="lazy" alt="Тархун" />
							</picture>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="hero__item">
							<picture>
								<source srcset="@img/tarragon.webp" type="image/webp" />
								<img src="@img/tarragon.png" loading="lazy" alt="Тархун" />
							</picture>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="hero__item">
							<picture>
								<source srcset="@img/tarragon.webp" type="image/webp" />
								<img src="@img/tarragon.png" loading="lazy" alt="Тархун" />
							</picture>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="hero__item">
							<picture>
								<source srcset="@img/tarragon.webp" type="image/webp" />
								<img src="@img/tarragon.png" loading="lazy" alt="Тархун" />
							</picture>
						</div>
					</div>
				</div>
				<div class="hero__fraction"></div>
				<div class="hero__pagination"></div>
				<div class="hero__progress">
					<div class="hero__progress-fill"></div>
				</div>
			</div>
		</div>
	</div>
</section>
