.btn {
	padding: 10px 15px 11px;
	box-shadow: 0 15px 30px rgba(25, 70, 186, 0.2);
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	white-space: nowrap;
	transition: background-color 0.3s;

	&:hover {
		background-color: $blue-hover-color;
	}

	&--blue {
		color: $white-color;
		background-color: $blue-color;
	}
}
