.section-title {
	font-weight: 700;
	font-size: 72px;
	line-height: 75px;

	&--blue {
		color: $blue-color;
	}

	&--white {
		color: $white-color;
	}

	@media (max-width: 991px) {
		font-size: 58px;
		line-height: 56px;
	}

	@media (max-width: 575px) {
		font-size: 30px;
		line-height: 41px;
	}
}
